
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Navegador.cshtml";
}


<form action="">
    <h1>Contacto</h1>
    <input type="text" name="Nombre-Cliente" placeholder="Nombres" required="">
    <input type="email" name="Correo" placeholder="Correo" required="">
    <input type="text" name="Telefono" placeholder="Telefono" required="">
    <textarea name="mensaje" placeholder="Ingrese aqui su mensaje" required=""></textarea>
    <input type="submit" value="Enviar" id="boton">

</form>

<div class="mapa">
    <h1>Ubicacion</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.745965330832!2d-74.16063678573687!3d4.639344643479545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c3ababaf9d5%3A0x72efa6111527e06c!2zQ2wuIDIgIzg2LCBCb2dvdMOh!5e0!3m2!1ses!2sco!4v1606875074020!5m2!1ses!2sco" width="470" height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
