
<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EXAMEN FINAL</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <h1>FORMULARIO DE INICIO DE SESION</h1>
    <form action="sessionstarted.html" onsubmit="return" class="form-inicio-sesion">
        <h2 class="titulo">INICIAR SESION</h2>
        <div class="contenido-input">
            <input type="email" name="Correo" placeholder="Correo Electronico" class="input-100">
            <input type="password" name="Contraseña" placeholder="Contraseña" class="input-100">
            <p>Estoy de acuerdo con <a href="terms and conditions.html">Terminos y Condiciones</a></p>
            <input type="submit" value="Iniciar Sesion" class="btn-iniciar">
            <p>¿No tienes cuenta? <a href="Register.html">Registrate</a></p>
        </div>
    </form>
</body>

</html>